---
export interface Props {
	title: string;
	description: string;
	href: string;
    logo: string;
}

const { href, title, description, logo } = Astro.props;


---

<div class="hidden lg:relative lg:block lg:p-12">
    <a class="block text-white" href={href}>
      <span class="sr-only">Home</span>
      <img class="h-8 sm:h-12" src={logo} alt="">
    </a>

    <h2 class="mt-6 text-2xl font-bold text-white sm:text-3xl md:text-4xl">
      {title}
    </h2>

    <p class="mt-4 leading-relaxed text-white/90">
      {description}
    </p>
  </div>

